<!DOCTYPE html>
<html>
    <head>
        <title>Bem-vindo ao Pseudotinder!</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    </head>
    <body>
        <form action="#" th:action="@{/login}" method="post">
            <label for="username">Nome de usuário:</label>
            <input id="username" name="username" type="text"/>
            <input type="submit" value="Entrar" />
        </form>
    </body>
</html>
