<!DOCTYPE html>
<html>
    <head>
        <title>Pseudotinder</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body class="text-center">
        <form action="#" th:action="@{/login}" method="post" class="border">

			<h1 class="h3 mb-3 font-weight-normal">Entre na sua conta</h1>

			<input id="username" name="username" type="text"
				required autofocus
				class="form-control mb-3" placeholder="Digite o seu nome de usuário"/>

			<button type="submit" class="btn btn-lg btn-primary btn-block mb-3">Entrar</button>

            <div th:if="${param.error}" class="alert alert-danger" role="alert">
              Nome de usuário não existe.
            </div>

			<a th:href="@{/register/one}">Ainda não sou cadastrado</a>

        </form>
    </body>
</html>
